doctype html
html(lang="pl")
	head
		title Big Space Project
		include ./meta.jade
	body(onload="main()")
		canvas#game
		div#editor
			div.nav
				a.button.nav.prev(onclick="editor.prev()") Prev
				h2
				a.button.nav.next(onclick="editor.next()") Next
			div.stats
			a.button(onclick="editor.apply()") Apply changes
			a.button(onclick="editor.reset()") Reset
			a.button(onclick="editor.clone()") Clone
			a.button(onclick="editor.export()") Export
			a.button.negative(onclick="editor.remove()") Delete