meta(charset='utf-8')
meta(http-equiv='PRAGMA', content='NO-CACHE')
meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
meta(name='description', content='Prosty świat 3d z własnym silnikiem. Napisany używając technologii HTML5 with Canvas (2d), JavaScript')
meta(name='keywords', content='HTML5, Canvas, JS, 3d engine, game, maciej, bukowski')
meta(name='author', content='Maciej Bukowski')

link(rel='icon', href='images/favicon.png')

link(rel="stylesheet" href="styles/buttons.css")
link(rel="stylesheet" href="styles/style.css")

script(src="scripts/jquery.js")
script(src="scripts/libs.js")
script(src="scripts/events.js")
script(src="scripts/models.js")
script(src="scripts/engine.js")
script(src="scripts/main.js")
script(src="scripts/map.js")
script(src="scripts/editor.js")