meta(charset='utf-8')
meta(http-equiv='PRAGMA', content='NO-CACHE')
meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
meta(name='description', content='Prosty świat 3d z własnym silnikiem. Napisany używając technologii HTML5 with Canvas (2d), JavaScript')
meta(name='keywords', content='HTML5, Canvas, JS, 3d engine, game, maciej, bukowski')
meta(name='author', content='Maciej Bukowski')

link(rel='icon', href='data/favicon.png')
link(rel="stylesheet" href="style.css")
script(src="jquery.js")
script(src="libs.js")
script(src="models.js")
script(src="index.js")