@font-face{
	font-family: Lato;
	src:url('../fonts/lato/Lato-Hairline.ttf') format('truetype');
	font-weight: 100;
}
@font-face{
	font-family: Lato;
	src:url('../fonts/lato/Lato-Light.ttf') format('truetype');
	font-weight: 200;
}
@font-face{
	font-family: Lato;
	src:url('../fonts/lato/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: Lato;
}
canvas#game {
	display: block;
	background: white;
	cursor: crosshair;
}

div#editor {
	display: none;
	position: absolute;
	top: 0;
	right: 0;	
	height: 100%;
	width: 350px;
	background: #EEE;
	box-shadow: 0 0 10px #555;
	overflow-y: auto;
 	text-align: center;
 	padding: 0 10px;
 	box-sizing: border-box;
}
a.button {
	margin: 0 3px;
}
.nav {
	margin-top: 10px;
	display: flex;
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;
}
.nav a {
	height: 20px;
	line-height: 20px;
	width: 60px;
	margin: 0;
}
.nav h2 {
	font-weight: 200;
	flex-grow: 1;
	margin: 0;
}
div.stats {
	text-align: left;
	padding: 10px 0;
}

ul {
	margin: 0;
	padding-left: 25px;
}
ul.hidden {
	display: none;
}
li {
	position: relative;
	list-style: none;
	min-height: 25px;
	margin-bottom: 5px;
	line-height: 25px;
}
li:before {
  content: "\002022";
  color: #18e;
  padding-right: 10px;
}
li.lista > span {
	cursor: pointer;
	color: blue;
}
li.lista > span:hover {
	color: red;
}

li.flex {
	display: flex;
}
li.flex > span {
	min-width: 70px;
}
li.flex > ul {
	display: flex;
	flex: 1;
	padding: 0;
}
li.flex > ul > li {
	flex: 1;
	margin-bottom: 0;
	margin-left: 10px;
}
li.flex > ul > li > span {
	display: none;
}
li.flex > ul > li > input {
	width: 100%;
}

div.stats > ul {
	padding-left: 0;
}
div.stats > ul > li:before,
li.flex > ul > li:before {
	content: "";
}

input {
	position: absolute;
	right: 0;
	width: 100px;
	padding: 4px 8px;
	border: 1px solid #CCC;
	box-sizing: border-box;
}

